*.sqlite
*.vim
*.tags
*.bat
*.i.dat
builds
pics
pdf_built
log
*.aux
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.log.txt
*.lot
*.pdf
*.toc
*.ist
*.out
*.bbl
*.blg
*.dvi
*.maf
*.mtc*
html/url
*.tree
__pycache__
scrape/bs/out
log.txt
log_*.txt
fb/out
fb/cookies.pkl
*.png
*.mw
*.jpg
